# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Executables
*.out

# Directories
bin/
gen/

# Vim Configuration Files
*.swp
*.vim
.ycm_extra_conf.py
.ycm_extra_conf.pyc
